/* input[type="radio"].font {
  font-family: 'Barlow', sans-serif;
} */
.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 700px; */
  margin-top: 175px;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 700px; */

  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

button {
  font-family: "Barlow", sans-serif;
  background:#4FA49A;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  color: white;

}


.font {
  font-family: 'Barlow', sans-serif;
}

form, p {
text-align: center;
font-family: 'Barlow', sans-serif;
}

.footer {
    position:absolute;
    bottom:0px;
    width: 100%;
    margin: 0;
    background-color: lightblue;
    height: 100px;/* or however high you would like */
    font-family: 'Barlow', sans-serif;

}

#container1 {
  width:100%;
  height:100%;
  background: #D5FFF7;
  top:0;
  left:0;
  flex: auto;
  border-radius: 15px 15px 15px 15px;
  padding: 5px, 0px, 5px, 0px;
}

#container2 {
  margin: 10px 0px 10px 0px;
  padding: 0 auto;
  width: 100%;
  height: 400px;
  border: 1px solid gray;
  display: flex;
}

.box1 {
  width: 50%;
  border: 1px solid brown;
  display: flex;
  padding: 5px 15px 5px;
}


.box2 {
  width: 50%;
  border: 1px solid brown;
  display: flex;
  padding: 5px 15px;
}

.back {
 word-wrap: break-word;
}


.front {
  word-wrap: break-word;
}


.flip3D{display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;}
.flip3D > .front{
  position:absolute;
  transform: perspective( 600px ) rotateY( 0deg );
  background:#FC0; width:500px; height:300px; border-radius: 7px;
  backface-visibility: hidden;
  transition: transform .5s linear 0s;

}
.flip3D > .back{
  position:absolute;
  transform: perspective( 600px ) rotateY( 180deg );
  background: #80BFFF; width:500px; height:300px; border-radius: 7px;
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}
.flip3D:hover > .front{
  transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back{
  transform: perspective( 600px ) rotateY( 0deg );
}
