.navbar{
  /* border: 1px solid black; */
  border-radius: 10px;
  min-width: 800px;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Barlow', sans-serif;
}
.button-nav{
  background-color: Dodgerblue;
  border-radius: 5px;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  padding: 2px 4px 8px;
}
.button-nav:hover{
  background-color: Royalblue;
  color: white
}


.main-nav{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-right: 40px;
}
.main-nav li{
  margin: 15px auto;
  text-align: center;
  padding-left: 30px;
  font-size: 25px;
  vertical-align: middle;
}
.logo{
  padding-left: 20px;
  font-size: 50px
}
.nav-links:hover, .logo:hover{
  color: gray;
  text-decoration: none;
}
.nav-links, .logo{
  color: white;
  text-decoration: none;

@charset "UTF-8";
*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif;}

nav{
  width: 100%; height: 100px; display: flex; color: white;
}


section{ display: flex; }
.container{
  width: 45%; height: auto; overflow: hidden; margin-top: 20px;
  margin-left: 100px;
  font-family: 'Barlow', sans-serif;
  position: relative;
  text-align: center;
  }


}

section{ display: flex; }
.rightside{
  width: 45%; height: auto; overflow: hidden; margin-top: 20px;
  margin-left: 400px;
}



.container{
  font-family: 'Barlow', sans-serif;
}


.clearfix {
  overflow: auto;
}


.one{
  border-radius: 50%;
}


div img{
  width: 100px;
  height: auto;
  float: left;
}


header, footer, article, aside {
  padding: 3em;
}


.name{
  display: flex;
  align-items: stretch
  -ms-flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
  padding: 25px;
  flex-grow: 10px;
  font-family: 'Barlow', sans-serif;
  style="float: left"
}

.column1{

  margin-bottom: 16px;
  padding: 0 8px;
  width: 33%;
}

.column2{

  margin-bottom: 16px;
  padding: 0 8px;
  width: 33%;
}

.column3 {

  margin-bottom: 16px;
  padding: 0 8px;
  width: 33%;
}



/* Display the columns below each other instead of side by side on small screens */
@media all and (max-width: 100%) {
  .column {
    width: 20%;
    display: flex;
    flex-direction: row;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
  border-radius: 50px;
  float: left;
  background: linear-gradient(90deg, #A5D3E8, #BAD7E5);
  margin-bottom: 50px;
}

img.card{
  border-radius: 50px;
}




/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
  table-layout: auto;
  border-radius: 50px;
  font-family: 'Barlow', sans-serif;

}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.row{
  font-family: 'Barlow', sans-serif;
}



.title {
  color: white;
  font-family: 'Barlow', sans-serif;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

body{
  background-image: url("background.jpg");
  width:300px
  overflow: hidden;
  margin: 0;
  display: block;
  /* max-width: 100%;
  max-height: 300px; */
}

section {
  position: absolute;
  top: 50%;
  left: 100%;
  bottom: 10px;
  left: 50px;
  margin-top: 100px;
  padding-left: 800px;
  transform: translate(-50%, -50%);

}
