<!DOCTYPE html>
<html lang="en" dir="ltr">
<body>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/googlelogin.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <title>Google Login</title>
    <style media="screen"></style>
  </head>
  <section id="header">
    <header>
      <h1 align="center">Welcome</h1><br>
      <h2 align="center">sign in with Google<h2>
    <header>
    <div class="sign-up"
      <h1><a href="{{login_url}}"><p style="text-align:center">sign in</p></a>
    </div>
  </section>
  <div class="footer">
  <br><br><p>© Google CSSI</p>
</div>
</body>
</html>
