<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
    <title>Lucidity</title>
  </head>
  <body>
    <nav class="navbar">
        <a href="/" class="logo">Lucidity</a>
        <ul class="main-nav">
            <li>
                <a href="/create" class="nav-links">CREATE</a>
            </li>
            <!-- <li>
                <a href="#" class="nav-links">About Us</a>
            </li> -->
            <li>
                <a href="{{login_url}}" class="nav-links">SIGN OUT</a>
            </li>
        </ul>
      </nav>

      <div id = "header" class = "section">
        <img alt= "" class = "img-circle" src = "https://png.pngtree.com/svg/20170920/4ff36bf59e.svg">
            <p>
              {{username}}
            </p>
      </div>
  </body>
  <div class="footer">
  <br><br><p>© Google CSSI</p>
  </div>
</html>
