<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Flashcards</title>
  </head>
  <body>
    <nav class="navbar">
        <a href="/" class="logo">Flashcards</a>
        <ul class="main-nav">
            <li>
                <a href="/" class="nav-links">Create</a>
            </li>
            <li>
                <a href="#" class="nav-links">About Us</a>
            </li>
            <li>
                <a href="#" class="nav-links">Login</a>
            </li>
            <li>
                <a href="#" class="nav-links"><button class="button-nav" type="button" name="button">Sign Up</button></a>
            </li>
        </ul>
      </nav>

      Signed Out
  </body>
</html>
