<!DOCTYPE html>
<html>
  <head>
    <title>Create</title>
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
        <a href="/" class="logo">Flashcards</a>
        <ul class="main-nav">
            <li>
                <a href="/create" class="nav-links">Create</a>
            </li>
            <li>
                <a href="#" class="nav-links">About Us</a>
            </li>

        </ul>
      </nav>

    <div id="container1">
    <form method=POST action="/create">
      <p class="font">Difficulty Selection</p>
      <label class="font">
      <input type="radio" name="difficulty_selection" value="1" checked>Easy</label>
      <label class="font">
      <input type="radio" name="difficulty_selection" value="2">Medium</label>
      <label class="font">
      <input type="radio" name="difficulty_selection" value="3">Hard</label>
      <br><br>
      Question: <input type="text" name="question" value="">
      <br>
      Answer: <input type="text" name="answer" value="">
      <br><br>
      <br><input type="submit" value="Save Card">
    </form>
    <form action="/profile0">
      <br><input type="submit" value="done">
    </form>
    </div>
  </body>
</html>
