<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/flashcardstyle.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Flashcards</title>
    <style>
      p{
        padding-top: 20%;
        font-size: 25px;
      }
      button{
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        margin: 270px 550px;
        border: none;
        cursor: pointer;
        width: 10%;
        opacity: 0.9;
        align: center;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
        <a href="/" class="logo">Flashcards</a>
        <ul class="main-nav">
            <li>
                <a href="/create" class="nav-links">Create</a>
            </li>
            <li>
                <a href="/profile0" class="nav-links">Profile</a>
            </li>
            <li>
                <a href="{{login_url}}" class="nav-links">Sign Out</a>
            </li>
        </ul>
      </nav>

  <div class="flip3D">
    <div class="back">
       <p>{{my_answer}}</p>
    </div>
    <div class="front">
      <p>{{my_question}}</p>
    </div>
  </div>
  <div class="button-div">
      <a href="/sort"><button type="button">Next Card</button></a>
  </div>


  </body>
  <footer>
  </footer>
</html>
