<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/flashcardstyle.css">
    <title>Flashcards</title>
  </head>
  <body>

  <div class="flip3D">
    <div class="back">
       <p><br><br><br>{{my_answer}}</p>
    </div>
    <div class="front">
      <p><br><br><br>{{my_question}}</p>
    </div>
  </div>
    <a href="/sort"><button type="button">Next Card</button></a>

  </body>
   <div class="btn1">
    <a href="/sort"><button type="button">Next Card</button></a>
  </div>
  <div class="footer">
  <br><br><p>© Google CSSI</p>
</div>
</html>
