<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Flashcards</title>
  </head>
  <body>
    <nav class="navbar">
        <a href="/" class="logo">Flashcards</a>
        <ul class="main-nav">
            <li>
                <a href="/create" class="nav-links">Create</a>
            </li>
            <li>
                <a href="#" class="nav-links">About Us</a>
            </li>
            <li>
                <a href="/sort" class="nav-links">Practice</a>
            </li>
            <li>
                <a href="/logout" class="nav-links">Sign Out</a>
            </li>
        </ul>
      </nav>

      <div id = "header" class = "section">
        <img alt= "" class = "img-circle" src = "https://png.pngtree.com/svg/20170920/4ff36bf59e.svg">
            <p>
              {{username}}
            </p>
      </div>
  </body>
</html>
