<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Flashcards</title>
    <style media="screen">
      .createSet a{
        display: inline-block;
        margin-left: 45%;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
        <a href="/" class="logo">Flashcards</a>
        <ul class="main-nav">
            <li>
                <a href="/create" class="nav-links">Create</a>
            </li>
            <li>
                <a href="/sort" class="nav-links">Practice</a>
            </li>
            <li>
                <a href="{{login_url}}" class="nav-links">Sign Out</a>
            </li>
        </ul>
      </nav>

      <div id = "header" class = "section">
        <img alt= "" class = "img-circle" src = "https://png.pngtree.com/svg/20170920/4ff36bf59e.svg">
            <p>
              {{username}}
            </p>
      </div>
      <div class="createSet">
      <a href="/create"><button id="myBtn" class="button-nav nav-links" type="button" name="button"> Create Flashcard</button></a>
      </div>
  </body>
</html>
