<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Flashcards</title>
  </head>
  <body>
    <nav class="navbar">
        <a href="/" class="logo">Flashcards</a>
        <ul class="main-nav">
            <li>
                <a href="/create" class="nav-links">Create</a>
            </li>
            <li>
                <a href="#" class="nav-links">About Us</a>
            </li>
        </ul>
      </nav>

      <form action="/profile" method="post">
          <div class="container">
            <h1>Please Sign Up</h1>
            <hr>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Your Username" name="username" required><br>

            <label for="username"><b>Name</b></label>
            <input type="text" placeholder="Enter Your Name" name="name" required><br>

            <hr>

          <button type="submit" class="registerbtn">Submit</button>
          </div>

  </body>
</html>
