<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar">
        <a href="/" class="logo">Lucidity</a>
        <ul class="main-nav">
            <li>
                <a href="/" class="nav-links">Create</a>
            </li>
            <li>
                <a href="#" class="nav-links">About Us</a>
            </li>
            <li>
                <a href="/login" class="nav-links">Login</a>
            </li>
            <li>
                <a href="{{login_url}}" class="nav-links">Sign Up</a>
            </li>
        </ul>
      </nav>

      <form action="/profile" method="post">
          <div class="container">
            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required><br>

            <hr>

          <button type="submit" class="registerbtn">Submit</button>
          </div>

          <div class="container signin">
            <p>Already have an account? <a href="#">Sign in</a>.</p>
          </div>
        </form>
  </body>
  <div class="footer">
  <br><br><p>(c) Google CSSI</p>
  </div>
</html>
